@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.mainContainer {
  padding: 2% 0;
  background-color: #f0f1f3;
}

.Header {
  display: flex;
  flex-direction: column;
  padding: 50px 150px;
  background-color: #59aaca;
  align-items: flex-start;
}

.Header .form-control {
  width: 30%;
  align-self: flex-end;
}

.MainTitle {
  font-size: 60px;
  color: rgb(247 247 247);
  font-weight: 600;
}

.BotonNoticia {
  width: 50%;
  align-self: center;
}

nav {
  background-color: #d2d9e0;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 0.3em 20em;
  }
}

ul {
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  display: flex;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.newsContainer {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 400px;
}

.NewsTitle {
  font-size: 20px;
  font-weight: 800;
  padding: 0 2em;
}

.NewsSubtitle {
  font-size: 14px;
  padding: 0 2em;
}

.NewsItem {
  display: flex;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  padding: 0 0;
  border: 1px solid rgb(0 0 0 / 33%);
}

.NewsItem img {
  width: 60%;
  margin: 0 auto;
}
